# This template is for outputs 1-4 and virtual outputs 9-10, which can provide heater power.

record(mbbo, "$(P)$(R)OUT$(OUTNUM):RANGE") {
    field(ZRST, "Off")
    field(ONST, "Low")
    field(TWST, "High")
}

record(mbbi, "$(P)$(R)OUT$(OUTNUM):RANGE_RBV") {
    field(ZRST, "Off")
    field(ONST, "Low")
    field(TWST, "High")
}
